@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  font-family: 'Roboto Condensed';
}

body {
  margin: 0;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.container {
  display: flex;
  height: 100vh;
}

#chart {
  width: 70%;
  height: 100%;
}

#sidebar {
  width: 30%;
  padding: 20px;
  background-color: #252525;
  border-left: 1px solid #444;
  overflow-y: auto;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#close-sidebar {
  background: none;
  border: none;
  color: #f0f0f0;
  font-size: 1.5em;
  cursor: pointer;
}

code {
  display: block;
  padding: 10px;
  background-color: #333;
  color: #4CAF50; /* Verde terminal */
  margin: 10px 0;
}